* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

.post-list-item {
    display: flex;
    align-items: center;
    justify-content: auto;
    height: 100pt;
}

.post-list-item > * {
    padding: 5pt;
}

.thumbnail {
    width: 50pt;
    height: 50pt;
    border-radius: 50%;
}